h1 {
  background-color: pink;
}

.letter {
  height: 100px;
  width: 100px;
  border: 2px solid blue;
  background-color: pink;
  float: left;
}

.letterG {
  height: 100px;
  width: 100px;
  border: 2px solid blue;
  background-color: lightgreen;
  float: left;
}

.space {
  height: 100px;
  width: 100px;
  float: left;
}
